<!DOCTYPE>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <button type="button" style="width:244px;font-size:40px;" onclick="window.location.href='./'">Home</button>
  <button type="button" style="width:244px;font-size:40px;" onclick="window.location.href='spaces'">Spaces</button>
  <button type="button" style="width:430px;font-size:40px;" onclick="window.location.href='list-a-space'">List a new space</button>
  <button type="button" style="width:244px;font-size:40px;" onclick="window.location.href='sign-in'">Sign in</button>
  <button type="button" style="width:244px;font-size:40px;" onclick="window.location.href='sign-up'">Sign up</button>
</body>
</html>
