<!DOCTYPE html>
<html>
<style>

.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: arial;
  text-align: center;

}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

/* Set a style for all buttons */
button {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


</style>


<body>

  <div class="topnav">
<<<<<<< HEAD
    <a href="/sign-in">Sign in</a>
 	  <a href="/sign-up">Sign up</a>
  	<a href="/list-a-space">New space</a>
    <a href="/spaces">Spaces</a>
=======
    <a href="/signin">Sign in</a>
    <a href="/signup">Sign up</a>
    <a href="/spaces/new">Newspace</a>
>>>>>>> a8833fcf60640621c4fa6db4c393021edab8f0cd
    <a href="/">Home</a>

    <form class="" method='post' action='/logout'>
      <input type='hidden' name='_method' value='delete'>

    </form>
  </div>

  <div><h2>Login into BnB Project</h2></div>
  <div>
    <form>
      Username: <input type="text" name="firstname">
      <br>
      Password: <input type="password" name="lastname">
      <br>
      <button type="submit">Login</button>
    </form>
  </div>
  <div>
    <p>Example of how to set up login page</p>
    <p>Dont have an account? click the sign up button below to create one</p>
    <p>Remember that you will need to implement CSS into this page to make it look nice</p>
    <button type="button" onclick="alert('Hello world!')">Click Me!</button>
  </div>
<<<<<<< HEAD

=======
>>>>>>> a8833fcf60640621c4fa6db4c393021edab8f0cd
</body>
</html>
