<!DOCTYPE>
<html>
<style>
.topnav {
overflow: hidden;
background-color: #333;
font-family: arial;
text-align: center;

}

/* Style the topnav links */
.topnav a {
float: right;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;

}
</style>
<head>
  <title>Home</title>
</head>
<body bgcolour="F3F3F3">
  <div class="topnav">
  	<a href="/signin">Sign in</a>
 	  <a href="/signup">Sign up</a>
  	<a href="/spaces/new">New space</a>
    <a href="/spaces">Spaces</a>
    <a href="/">Home</a>
  </div>

</body>
</html>
